#Monetha Task - Python basic
### Submitted by: Komolafe Oyindolapo

In [1]:
data = [['A1', 28], ['A2', 32], ['A3', 1], ['A4', 0],
['A5', 10], ['A6', 22], ['A7', 30], ['A8', 19],
['B1', 145], ['B2', 27], ['B3', 36], ['B4', 25],
['B5', 9], ['B6', 38], ['B7', 21], ['B8', 12],
['C1', 122], ['C2', 87], ['C3', 36], ['C4', 3],
['D1', 0], ['D2', 5], ['D3', 55], ['D4', 62],
['D5', 98], ['D6', 32]]

#### How many sites are there?

In [3]:
print(len(data))
print(f"There are {len(data)} number of sites in the list")

26
There are 26 number of sites in the list

#### How many birds were counted at the 7th site?

In [5]:
print(data[6][1])
print(f"The number of birds counted at the 7th site {data[6][0]} is  {data[6][1]}")

30
The number of birds counted at the 7th site A7 is  30

#### How many birds were counted at the last site?

In [6]:
print(data[-1][1])
print(f"There are birds {data[-1][1]} birds counted at the last site {data[-1][0]}")

32
There are birds 32 birds counted at the last site D6

#### What is the total number of birds counted across all sites?

In [7]:
total = 0
for i in range(len(data)):
    total += data[i][1]

print(total)

print(f"The total number of birds counted across all sites is {total}")

955
The total number of birds counted across all sites is 955

#### What is the average number of birds seen on a site?

In [8]:
print(total/len(data))

print(f"The average number of birds is {total/len(data) :.0f}")

36.73076923076923
The average number of birds is 37

#### What is the total number of birds counted on sites with codes beginning with C? (donâ€™t just identify this sites by eye, in the real world there could be hundreds or thousands of sites)

In [9]:
hasC = []
totalC = 0
for i in range(len(data)):
    if data[i][0].startswith('C'):
        hasC.append(data[i][0])
        totalC += data[i][1]

print(totalC)
print(f"The sites which begin with C are: {hasC}, with a total number of {totalC} birds ")

248
The sites which begin with C are: ['C1', 'C2', 'C3', 'C4'], with a total number of 248 birds

# Monetha task - Intermediate

In [10]:
def Switch_Symbol(symbol):
    """
     A function that returns the numeric value of the passed symbol.
     Zero is returned for unidentified symbol
    """
    Switch = {
        "#":5,
        "O":3,
        "X":1,
        "!":-1,
        "!!":-3,
        "!!!":-5
        }
    return Switch.get(symbol,0)

In [11]:
def check_score(thelist):
    """
        A function that accepts a list and returns the total of the symbols in the list
    """
    totalscore = 0
    #Check whether the parameter is a list
    if type(thelist) == list:
        for i in range(len(thelist)):
            for j in range(len(thelist[i])):
                totalscore +=  Switch_Symbol(thelist[i][j])
        
    else:
        totalscore = "error"

    if totalscore < 0:
        return 0
    else:
        return totalscore

In [13]:
check_score([
  ["#", "O", "#", "!!", "X", "!!", "#", "O", "O", "!!", "#", "X", "#", "O"],
  ["!!!", "!!!", "!!", "!!", "!", "!", "X", "!", "!!!", "O", "!", "!!!", "X", "#"],
  ["#", "X", "#", "!!!", "!", "!!", "#", "#", "!!", "X", "!!", "!!!", "X", "O"],
  ["!!", "X", "!!", "!!", "!!!", "#", "O", "O", "!!!", "#", "O", "O", "#", "!!"],
  ["O", "X", "#", "!", "!", "X", "!!!", "O", "!!!", "!!", "O", "!", "O", "X"],
  ["!!", "!!!", "X", "!!!", "!!", "!!", "!!!", "X", "O", "!", "#", "!!", "!!", "!!!"],
  ["!!", "!!", "#", "O", "!", "!!", "!", "!!!", "#", "O", "#", "!", "#", "!!"],
  ["X", "X", "O", "X", "!!!", "#", "!!!", "!!!", "X", "X", "X", "!", "#", "!!"],
  ["O", "!!!", "!", "O", "#", "!", "!", "#", "X", "X", "#", "O", "!!", "!"],
  ["X", "!", "!!", "#", "#", "X", "!!", "O", "!!", "X", "X", "!!", "#", "X"],
  ["!", "!!", "!!", "O", "!!", "!!", "#", "#", "!", "!!!", "O", "!", "#", "#"],
  ["!", "!!!", "!!", "X", "!!", "!!", "#", "!!!", "O", "!!", "!!!", "!", "!", "!"],
  ["!!!", "!!!", "!!", "O", "!", "!", "!!!", "!!!", "!!", "!!", "X", "!", "#", "#"],
  ["O", "O", "#", "O", "#", "!", "!!!", "X", "X", "O", "!", "!!!", "X", "O"]
])

12